body{

    background-color: rgb(255, 255, 255);

}

#wrapper{

    width: 960px;
    border:  3px solid rgb(255, 255, 255);
    padding-top:50px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 50px;
    margin: 0 auto;

}



img{

    width: 100%;
    
}

.Encabezados{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.Parrafo{
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
}

.Parrafo2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}
